pkgbase = zenith-dw
	pkgdesc = A high-fidelity digital wellbeing platform for reclaiming cognitive sovereignty.
	pkgver = 0.2.6
	pkgrel = 1
	url = https://github.com/Azlaneh/zenith
	arch = x86_64
	license = MIT
	makedepends = rust
	makedepends = cargo
	makedepends = nodejs
	makedepends = npm
	makedepends = pkg-config
	makedepends = openssl
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libappindicator-gtk3
	depends = librsvg
	provides = zenith-dw
	conflicts = wellbeing
	conflicts = wellbeing-git
	conflicts = wellbeing-bin
	source = zenith-0.2.6.tar.gz::https://github.com/AzlanEh/Zenith/archive/refs/tags/v0.2.6.tar.gz
	sha256sums = SKIP

pkgname = zenith-dw
