[Desktop Entry]
Name=Zenith
Comment=Reclaim your cognitive sovereignty
GenericName=Digital Sanctuary
Exec=zenith
Icon=zenith
Terminal=false
Type=Application
Categories=Utility;System;Monitor;
Keywords=screen;time;tracker;zenith;productivity;focus;digital;wellbeing;
StartupNotify=true
StartupWMClass=Zenith
